*{
    font-family: 'Montserrat', sans-serif;
}

body{
  background-color: #E5F0E5;
}

.container {
  width: 70%;
  min-width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 300px; 
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.kanban-board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heading-text {
  font-size: 30px;
  background-color:#BEDABE
  padding: 10px 30px;
  border-radius: 10px;
  margin: 30px;
}

.kanban,
.create-new-task-block {
  padding: 10px;
  width: 30.5%;
  margin: 5px;
  border-radius: 10px;
}


.square {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color:#A499BE;
  border-radius: 3px;
}

.square1 {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color:#D1495B;
  border-radius: 3px;
}

.square2 {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color:#EDAE49;
  border-radius: 3px;
}

.square3 {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: #30638E;
  border-radius: 3px;
}


.task {
  background-color: #76B09D;
  
  margin: 10px 0px 20px 0px;
  border-radius: 10px;
  padding: 25px;
}

.task:hover {
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.5);; 
}

#task-button {
  margin: 10px 0px 5px 0px;
  background-color: #04724D;
  width: 100%;
  border: 2px solid #04724D;
  padding: 10px 20px;
  border-radius: 8px; 
  font-size: 17px;
  cursor: pointer;
 
}




/*Creating a new task*/

.create-new-task-block {
  display: none;
  /* display: flex; */
  background: #BEDABE;
  width: 64.4%;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.form-row-label {
  width: 15%;
  padding: 8px;
  padding-right: 25px;
  border: solid black;
  border-right: 0;
  border-radius: 5px 0px 0px 5px;
}

.form-row-input {
  border: solid black;
  border-radius: 0px 5px 5px 0px;
  width: 85%;
}

textarea {
  resize: none;
}

.form-row-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}

#save-button,
#cancel-button {
  margin: 4px 0px 2px 0px;
  background-color: #76B09D;
  border-radius: 5px;
  width: 50%;
  border: 2px solid black;
  padding: 10px 30px;
  font-size: 17px;
 
}

