@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E5F0E5;
}
.wrapper{
  user-select: none;
}

.wrapper .time{
  height: 100px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 0 10px;
}

.wrapper .time span{
  width: 100px;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  color: #707070;
}

.time span.colon{
  width: 10px;
}

.time span.ms-colon, 
.time span.millisecond {
  color: #04724D;
}

.buttons button{
  padding: 6px 16px;
  outline: none;
  border: none;
  margin: 0 5px;
  color: #04724D;
  background: #FFF;
  font-size: 19px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
}

.buttons button.active, 
.buttons button.stopActive{
  pointer-events: none;
  opacity: 0.7;
}